{% extends "voice/layout.html" %}
{% load feature_extras %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8" src="{% url voice-media "scripts/tablesorter.js" %}"></script>
{% endblock %}

{% block main %}

{% include "voice/admin/tabs.html" %}

<h1>{{ sort|capfirst }} Feature Requests</h1>

<table class="zebra-striped" id="sortTableExample">
    <thead>
      <tr>
        <th class="blue header">Title</th>
        <th class="green header">Description</th>
        <th class="yellow header">Status</th>
        <th class="header">Votes</th>
      </tr>
    </thead>
    <tbody>
        {% for feature in features %}
        <tr>
            <td>{{ feature.title }}</td>
            <td>{{ feature.description|truncatewords:12 }}</td>
            <td>{{ feature|state }}</td>
            <td>{{ feature|votes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block endscripts %}
<script >
  $(function() {
    {% if sort != 'newest' %}
    $("table#sortTableExample").tablesorter({ sortList: [[3,1]] });
    {% else %}
    $("table#sortTableExample").tablesorter();
    {% endif %}
  });
</script>
{% endblock %}
