{% extends "voice/layout.html" %}

{% block sidebar %}
<h6>Sidebar</h6>
<ul>
    <li><a href="#">Requests</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
</ul>
{% endblock %}

{% block header %}
<h1>Requests</h1>
{% endblock %}

{% block main %}
{% for group in user_requests %}

<div class='row'>

    {% for user_request in group %}

    <div class='span4'>
        <h3>{{ user_request.title }}</h3>
        <p>{{ user_request.description }}</p>
        <h6>{{ user_request.votes_needed }} votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>

    {% endfor %}

</div>

{% if not forloop.last %}
<hr>
{% endif %}

{% endfor %}
{% endblock %}
