{% extends "voice/layout.html" %}

{% block sidebar %}
<h6>Sidebar</h6>
<ul>
    <li><a href="#">Languages</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
</ul>
{% endblock %}

{% block header %}
<h1>Languages</h1>
{% endblock %}

{% block main %}
<div class='row'>
    <div class='span4'>
        <h3>Option 1</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 2</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 3</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 4</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
</div>
<hr>
<div class='row'>
    <div class='span4'>
        <h3>Option 1</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 2</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 3</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
    <div class='span4'>
        <h3>Option 4</h3>
        <p>Gentrify brunch VHS, aesthetic pitchfork DIY wes anderson tattooed banh mi blog before they sold out put a bird on it butcher. Brooklyn sustainable mustache fixie. Salvia scenester carles, portland american apparel fanny pack lomo hoodie butcher whatever.</p>
        <h6>321 votes needed</h6>
        <a class='btn' href='#'>Submit a vote</a>
    </div>
</div>
{% endblock %}
