{% extends "voice/layout.html" %}
{% load feature_extras %}

{% block header %}
<h1>Feature Requests</h1>
{% endblock %}

{% block main %}

{% include 'voice/messages.html' %}

{% for group in grouped_features %}

<div class='row'>

    {% for feature in group %}

    <div class='span4'>
        <div class='feature'>
            <h3><a href="{% url voice-feature feature.id %}">{{ feature.title }}</a></h3>
            <p>{{ feature.description }}</p>
        </div>
        {% if feature|votes_left > 0 %}
            <h6>{{ feature|votes_left }} votes needed</h6>
            <a class='btn' data-controls-modal="vote-for-{{ feature.id }}" data-backdrop="true" data-keyboard="true" class="btn danger">
                Submit a vote
            </a>
        {% else %}
            <h6>Status: {{ feature|state }}</h6>
        {% endif %}
    </div>

    <div id="vote-for-{{ feature.id }}" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">×</a>
            <h3>Submit a vote for {{ feature.title }}</h3>
        </div>
        <div class="modal-body">
          {% include 'voice/new_vote.html' %}
        </div>
        <div class='padded-bottom'>
        </div>
    </div>

    {% endfor %}

</div>

{% if not forloop.last %}
<hr>
{% endif %}

{% endfor %}

{% endblock %}

{% block footer %}
<div class="modal-backdrop hide fade in"></div>
{% endblock %}

{% block endscript %}
{% endblock %}
