<!DOCTYPE html>
<html>
    <head>
        {% block title %}
        <title>Voice</title>
        {% endblock %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <link rel="stylesheet" href="{% url voice-media "styles/bootstrap.css" %}" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="{% url voice-media "styles/layout.css" %}" type="text/css" media="screen" charset="utf-8">
        <script type="text/javascript" charset="utf-8" src="{% url voice-media "scripts/jquery.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% url voice-media "scripts/bootstrap-modal.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% url voice-media "scripts/bootstrap-alerts.js" %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% url voice-media "scripts/voice.js" %}"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="topbar">
          <div class="topbar-inner">
            <div class="container">
                <h3><a href="{% url voice-index %}">Voice</a></h3>
                {% if request.user.is_authenticated %}
                <ul class="nav secondary-nav">
                  <li>
                      <a href="{% url voice-admin %}">Admin</a>
                  </li>
                </ul>
                {% endif %}
            </div>
          </div><!-- /topbar-inner -->
        </div><!-- /topbar -->
        <div class='container'>
        {% block body %}
        <div class='content'>
        {% block content %}
        <header>
        {% block header %}
        {% endblock %}
        </header>
        <section>
        {% block main %}
        {% endblock %}
        </section>
        <footer>
        {% block footer %}
        {% endblock %}
        <p>Powered by <a href='http://github.com/jarodl/voice'>Voice</a></p>
        </footer>
        {% endblock %}
        </div>
        <!-- end content -->
        {% endblock %}
        </div>
        <!-- end container-fluid -->
    </body>
    {% block endscripts %}
    {% endblock %}
</html>
