body {
    padding-top: 60px;
}

form {
    margin-bottom: 0px;
}

.padded {
    padding: 15px 0px;
}

.alert-actions {
    padding-top: 15px;
}

textarea {
    resize: none;
}

.feature {
    margin-bottom: 20px;
}
